version: '3'

services:
  strapi:
    container_name: strapi
    image: strapi/strapi
    environment:
      - DATABASE_CLIENT=postgres
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_NAME=strapi
      - DATABASE_USERNAME=strapi
      - DATABASE_PASSWORD=strapi
    ports:
      - 1337:1337
    networks:
      - strapi-app-network
    volumes:
      - ./app/backend:/srv/app/backend
    depends_on:
      - db

  nextjs:
    ports:
      - 3000:3000
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    networks:
      - strapi-app-network
    volumes:
      - /usr/src/app/node_modules
      - /usr/src/app/.next

  db:
    container_name: postgres
    image: postgres
    restart: always
    volumes:
      - strapidata:/data/db
    environment:
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
      POSTGRES_DB: strapi

networks:
  strapi-app-network:
    driver: bridge

volumes:
  strapidata:
