version: '3'

services:
  strapi:
    build:
      context: ./backend
    container_name: strapi_v4_app
    restart: unless-stopped
    environment:
      NODE_ENV: production
      DATABASE_CLIENT: postgres
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_NAME: app
      DATABASE_USERNAME: db_username
      DATABASE_PASSWORD: db_password
    volumes:
      - ./app:/srv/app
    networks:
      - strapi-app-network
    ports:
      - 127.0.0.1:8000:1337
    depends_on:
      - db

  nextjs:
    ports:
      - 3000:3000
    build:
      context: ./frontend/
    networks:
      - strapi-app-network
    volumes:
      - /usr/src/app/node_modules
      - /usr/src/app/.next
    depends_on:
    - strapi

  db:
    container_name: postgres
    image: postgres
    restart: always
    volumes:
      - strapidata:/data/db
    environment:
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
      POSTGRES_DB: strapi

networks:
  strapi-app-network:
    driver: bridge

volumes:
  strapidata:
